body {
    background: rgba(255, 223, 158, 0.602);
}

.gameBoard {
    margin: auto;
    margin-top: 145px;
    width: 20rem;
    height: 20rem;
}

td {
    width: 100px;
    height: 100px;
    background: rgb(182, 153, 109);
}

.ball {
    margin: auto;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(61, 59, 59), rgb(57, 57, 57), rgb(5, 10, 5));
    height: 50px;
    width: 50px;
}